.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	row-gap: 2.1em;
	height: 100%;
	line-height: 1.1rem;
}

.card {
	margin: var(--space-xl);
	margin-top: var(--space-2xl);
	padding: var(--space-xl);
	width: 80%;
	text-align: center;
}

@media (max-width: 1000px) {
	.container {
		width: 100%;
	}
	.card {
		width: 90%;
		margin-top: var(--space-md);
	}
}

@media (max-width: 600px) {
	.card {
		width: 90%;
		margin-left: .3em;
		margin-right: .3em;
		margin-top: var(--space-md);
	}
}
