.spinner {
	display: inline-block;
	border: 2px solid #d1d5db;
	border-top-color: var(--link-selected-color);
	border-radius: 50%;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
