.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	row-gap: 2.1em;
	min-height: 100vh;
	article {
		i:last-child {
			margin-top: 4em;
		}
	}
}
.card {
	width: 80%;
	min-height: 30em;
	margin: 2em;
	margin-top: 2.5em;
}

.deleteControls {
	display: flex;
	justify-content: center;
	gap: 2em;
	margin-top: 1em;
}

.recipeContainer {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	font-family: "Montserrat", sans-serif;
	line-height: 1.2rem;
	.headerContainer {
		display: grid;
		grid-template-columns: 3fr 1fr;
		.desktopControls {
			display: flex;
			gap: 1rem;
			justify-content: flex-end;
		}
		.mobileControls {
			display: none;
			img {
				height: 2rem;
				cursor: pointer;
			}
		}
		.editButton {
			justify-self: end;
			align-items: center;
			display: flex;
			width: 4em;
			height: 3rem;
			img {
				width: 2em;
				height: 2em;
				margin-right: .25em;
			}
		}
		> h2 {
			align-self: flex-start;
			justify-self: start;
			font-family: "Montserrat", sans-serif;
		}
	}

	.description {
		font-style: italic;
		line-height: 1.2em;
		margin-bottom: 2em;
		margin-top: 2em;
		color: #444;
	}

	.recipe {
		font-size: 1.1em;
		line-height: 1.2em;
		font-family: "Montserrat", sans-serif;
		white-space: pre-wrap;
		margin-top: 0;
	}
}

@media (max-width: 900px) {
	.card {
		width: 90%;
	}
	.desktopControls {
		display: none !important;
	}
	.mobileControls {
		display: flex !important;
		justify-content: flex-end;
		flex-grow: 1;
	}
	.headerContainer {
		display: flex;
	}

	.recipeContainer {
		padding: 1em;
	}
}

@media (max-width: 600px) {
	.card {
		margin: 1em;
	}
	.mobileControls {
		display: flex !important;
		justify-content: flex-end;
		flex-grow: 1;
	}
	.headerContainer {
		display: flex !important;
	}
}

@media print {
	.container {
		height: auto !important;
		article {
			i:last-child {
				display: none;
			}
		}
	}
	.mobileControls {
		display: none !important;
	}

	.card {
		width: 100% !important;
		min-height: auto !important;
		margin: 0 !important;
		border: none !important;
		box-shadow: none !important;
	}

	.description {
		margin-top: .5em !important;
		margin-bottom: .5em !important;
	}

	.headerContainer {
		padding-bottom: 0;
	}
}
