.container {
	display: flex;
	background-color: var(--default-background-color);
	width: 100%;
	height: 100vh;
	.left {
		display: flex;
		flex-direction: column;
		.sidebar {
			height: 100%;
			padding-top: calc(1.4em);
		}
	}
	.scrollableContainer {
		width: 100%;
		overflow-y: auto;
		background-color: var(--default-background-color);
		backface-visibility: hidden; /*  forces Firefox to promote rendering to GPU compositor layer. recipe page background lags without this */
	}
}

@media (max-width: 600px) {
	.container {
		display: block;
		height: 100%;
		.left {
			display: none;
		}
	}
}

@media print {
	.container {
		height: auto !important;
		overflow: visible !important;

		.left {
			display: none;
		}

		.scrollableContainer {
			overflow: visible !important;
			height: auto !important;
			position: static !important;
			page-break-inside: auto;
			max-height: none !important;
		}
	}
}
